
    <title>Ссылки</title>
    <h1>Movie</h1>
    <a href="{% url 'Menu' %}movie/create/">Movie create</a>
    <a href="{% url 'Menu' %}movie/list/">Movie list</a>
        <h1>CinemaUser</h1>
    <a href="{% url 'Menu' %}cinemaUser/create/">CinemaUser create</a>
    <a href="{% url 'Menu' %}cinemaUser/list/">CinemaUser list</a>
        <h1>Cinema</h1>
    <a href="{% url 'Menu' %}cinema/create/}">Cinema create</a>
    <a href="{% url 'Menu' %}cinema/list/">Cinema list</a>
        <h1>Hall</h1>
    <a href="{% url 'Menu' %}hall/create/">Hall create</a>
    <a href="{% url 'Menu' %}hall/list/">Hall list</a>
        <h1>Session</h1>
    <a href="{% url 'Menu' %}session/create/">Session create</a>
    <a href="{% url 'Menu' %}session/list/">Session list</a>